<ul class="books">
{% for short_name, book in books %}
  <li class="book">
    <span class="name">
      {% if book.is_multi_stable_lang or 
            book.stable_langs|first.is_multi_version %}
        {{ book.name }}
      {% else %}
        {% set lang = book.langs|keys|first %}
        {% set url = "/" ~ short_name ~ "/" ~ lang ~ "/latest" %}
        <a href="{{ url }}">{{ book.name }}</a>
      {% endif %}
    </span>
    <span class="separator">&ndash;</span>
    <span class="description">{{ book.description }}</span>
    {% if book.is_multi_stable_lang %}
      {% include 'AppBundle:Read:language_list.html.twig' %}
    {% elseif book.stable_langs|first.is_multi_version %}
      {% include 'AppBundle:Read:version_list.html.twig' 
         with {
           language: book.stable_langs|first,
           lang_code: book.stable_langs|keys|first
         }  %}
    {% endif %}
  </li>
{% endfor %}
</ul>
