{% extends "::base.html.twig" %}

{% block content %}

<p>CiviCRM offers community contributed documentation below. We encourage everyone to
  <a href="https://docs.civicrm.org/dev/en/latest/documentation/">
    contribute to documentation</a>.</p>

<p><em>Some older documentation has not yet been migrated here and can still be found on the
    <a href="https://wiki.civicrm.org/confluence/display/CRMDOC/CiviCRM+Documentation">CiviCRM wiki</a>.
    </em></p>

<h2>Core</h2>

<p>Documentation for CiviCRM "Core", that is, CiviCRM when it is installed
  without any extensions.</p>

{% include 'AppBundle:Read:book_list.html.twig' with {books: core_books} %}

<ul>
  <li class="book single_edition">
    <div>
      <a href="https://wiki.civicrm.org/confluence/display/CRMDOC/Installation+and+Upgrades">
        <span class="name">Administrator Guide</span>
        <span class="edition">
          (on the wiki, will be migrated here eventually)
        </span>
      </a>
    </div>
    <div class="description">
      For tech savvy people who install, upgrade, and maintain CiviCRM for an organization
    </div>
  </li>
</ul>

<h2>Extensions</h2>

<p>Extensions can be installed within CiviCRM to provide new functionality not
  available in core. Below are extensions-specific documentation for those extensions which
  have documentation provided on this site - currently only a small fraction of
  <a href="https://civicrm.org/extensions">all available extensions</a>.</p>

{% include 'AppBundle:Read:book_list.html.twig' with {books: extensions_books} %}

<p>If your extension isn't listed above, it may have documentation elsewhere.
Here are some places you can look:

<ul>
  <li>The extension's website as listed in the <a href="https://civicrm.org/extensions/">CiviCRM Extensions Directory</a></li>
  <li>The "Documentation" link when viewing the extension details in CiviCRM at Admin ➡ Settings ➡ Extensions</li>
  <li>If no luck there, find the extension online and look for documentation</li>
  <li>Finally, consider contributing to documentation for the extension - the first step is to open an issue on the extension's issue tracker!</li>
</ul>

<p>If you are an extensions maintainer, follow these instructions to
  <a href="https://docs.civicrm.org/dev/en/latest/documentation/extensions/">
    add documentation for your extension here</a>.</p>

{% endblock %}
