{% extends "::base.html.twig" %}

{% block title %}CiviCRM Documentation{% endblock %}

{% block body %}

<a href="https://civicrm.org">CiviCRM home</a>

<h1>CiviCRM Documentation</h1>

<p>CiviCRM offers community contributed documentation in the form of digital
  <em>books</em>, listed below. We encourage everyone to
  <a href="https://docs.civicrm.org/dev/en/latest/documentation/">
    help contribute to documentation</a>.</p>

<p><em>Note: some documentation has not yet been moved into book format and
    can still be found on our
    <a href="https://wiki.civicrm.org/confluence/display/CRMDOC/CiviCRM+Documentation">wiki</a>
    while it awaits migration. In particular, information about
    <a href="https://wiki.civicrm.org/confluence/display/CRMDOC/Installation+and+Upgrades">
      installation and upgrades</a>
    is still on the wiki.</em></p>

<h2>Core Books</h2>

{% include 'AppBundle:Read:book_list.html.twig' with {books: core_books} %}

<h2>Extensions Books</h2>

{% include 'AppBundle:Read:book_list.html.twig' with {books: extensions_books} %}

{% endblock %}
