<ul class="languages">
{% for language in book.languages %}
  <li class="language {{ language.code }}">
    {% spaceless %}
      <span class="language-name">
        {% if language.isMultiVersion %}
          {{- language.descriptiveName -}}
          <span class="separator">:</span>
        {% else %}
          {% set url = "/" ~ book.slug ~ "/" ~ language.code ~ "/latest" %}
          <a href="{{ url }}">
            {{- language.descriptiveName -}}
          </a>
        {% endif %}
      </span>
    {% endspaceless %}
    {% if language.isMultiVersion %}
      {% include 'AppBundle:Read:version_list.html.twig' %}
    {% endif %}
  </li>
{% endfor %}
</ul>
