<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="https://civicrm.org/sites/civicrm.org/files/civicrm.png" type="image/png">
    <title>
      {% if page_title is defined %}
        {{ page_title }} -
      {% endif %}
      CiviCRM documentation
    </title>
    <link media="all" href="https://civicrm.org/sites/all/themes/civicrm_bootstrap/css/style.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{{ asset('/static/css/main.css') }}" />
    {% block stylesheets %}{% endblock %}
</head>

<body>


<header>
  <div class="container">
    <nav>
      <a href="https://civicrm.org">
        <img class="logo" width="75" height="77" src="/static/images/logo.svg" alt=""/>
        CiviCRM
      </a>
      <span class="separator">/</span>
      <a href="/">Documentation</a>
      {% if block('extra_links') is not empty %}
        <span class="separator">/</span>
      {% endif %}
      {% block extra_links %}{% endblock %}
    </nav>
  </div>
</header>

<div class="page">
  <div class="container">
    <div class="row-stripe">

        <h1>
          {% if page_title is defined %}
            {{ page_title }}
          {% else %}
            CiviCRM Documentation
          {% endif %}
        </h1>

        <div class="content">
          {% block content %}{% endblock %}
        </div>

    </div>
  </div>
</div>


<div class="footer">
  <div class="container">
    <div class="row-stripe">
      <div>

        <p>
          CiviCRM documentation publishes guides using a
          <a href="https://lab.civicrm.org/documentation/docs-publisher/">custom system</a>
          which is maintained by community members, with facilitation from the
          <a href="https://civicrm.org/working-groups/documentation">Documentation Working Group.</a>.
          Like CiviCRM, the content on this site is free to use, contribute to and share.
        </p>

        <p>
          You can support this site by getting involved and
          <a href="/dev/en/latest/documentation/">contributing to documentation</a>.
          You can support CiviCRM and help keep it free and sustainable by
          <a href="https://civicrm.org/support-us">making a donation</a> today.
          To give feedback about this site, please
          <a href="https://lab.civicrm.org/documentation/docs-publisher/issues">file an issue</a>.
        </p>

        <p>
          © 2005 - {{ "now"|date("Y") }}, CIVICRM LLC. All rights reserved.
          CiviCRM and the CiviCRM logo are trademarks of CIVICRM LLC.
          Except where otherwise noted, content on this site is licensed under a
          Creative Commons Attribution-Share Alike 3.0 United States
          <a href="https://creativecommons.org/licenses/by/3.0/us/">Licence</a>
        </p>

      </div>
    </div>
  </div>
</div>


{% block javascripts %}{% endblock %}


</body>

</html>
